/* import normalize css and common css used across multiple pages */
@import url("../../../normalize.css");
@import url("../../../css/common.css");

/* body and container */
.content-wrapper {
 width: 70%;
 min-width: 70%;
 float: left;
 padding: 0;
 position: relative;
}

/* slight responsive behavior upon shrinking */
@media (max-width: 1060px) {
  .content-wrapper {
    width: 100%;
  }
}

/* title and paragraph style and font size */
section {
  display: inline-block;
  min-width: 100%;
  margin-bottom: 20px;
}

aside {
  display: inline-block;
  border-top: 2px dotted #363635; /* JET */
  margin-top: 30px;
}

.editable-content {
  color: #6C464F; /* DEEP TUSCAN RED */
}

/* img style */
figure {
  margin: 10px 30px 20px 0;
  display: inline-block;
  float: left;
}

.img-cropper {
  width: 250px;
  height: 200px;
  overflow: hidden;
}

.img-cropper img {
  height: 100%;
}
