body	{margin-left:20;
		padding:0;
		color:#333;
		background-color:white;
		font:1em/1.2 "Helvetica Neue",Helvetica,Arial,Geneva,sans-serif
		max-width:50em;}
h1,h2	{margin:0 0 0.5em;
		font-weight:500;
		line-height:1.1
		background:#999;}
		h1{font-size:2.25em}
		h2{font-size:1.75em}
header  {color:#fff;
		background:#999;
		padding:1em 1.25em}
footer {color:#fff;
		background:#999;
		padding:1em 1.25em}
