/* import normalize css */
@import url("../../../css/normalize.css");

/* specify font-family for all fonts */
h1, h2, h3, p, li{
  font-family: Verdana, Geneva, sans-serif;
  color: #54426B; /* cyber grape */
}
a {
  font-family: Verdana, Geneva, sans-serif;
  color: #4CAF50;
}
/* font style */
h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 40px;
  min-width: 100%;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 15px;
  line-height: 150%;
  margin: 10px 0 0 0;
}

/* body and container style */
html {
  height:100%;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 90%;
  background-color: #EAE0CC; /* pearl */
  padding-bottom: 70px; /* same as footer height */
  overflow-x: hidden;
}

#main-container {
  margin: 2.5% 10%;
  overflow: hidden;
}

#content-container {
  display: flex;
  flex-flow: row wrap;
}

#left-container {
  float: left;
  width: 45%;
  display: block;
  margin-right: 5%;
}

#right-container {
  float: right;
  width: 45%;
  display: block;
}

section {
  margin-bottom: 30px;
}

/* responsive on 2 columns to collapse into one when shrank */
@media screen and (max-width: 599px) {
  #content-container {
    flex-direction: column;
  }
  #left-container, #right-container {
    width: 100%;
  }
}

/* header style */
.header-background {
  display: block;
  height: 92px;
  background-image: url(../assets/comp1950.png);
  text-decoration: none;
  text-align: center;
}

.header-text {
  position: absolute;
  top: 1vw;
  left: 100%;
  transition: 0.2s;
  display: inline;
  font-size: calc(2vw + 5px);
  text-decoration: none;
  color: red;
}

.header-text:after {
  content: '\00bb';
  position: absolute;
  right: -12px;
  transition: 1s;
}

header:hover .header-background {
  opacity: 0.3;
}

header:hover .header-text {
  padding-right: 18px;
  left: 60%;
}

header:hover .header-text:after {
  opacity: 1;
  right: 0;
}

/* nav style - modified from example: https://www.w3schools.com/css/css_navbar.asp */
/* alter to color, border, flex display */
.nav-link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E28413; /* orange */
  display: flex;
  flex-flow: row wrap;
}

.nav-link-list li {
  float: left;
  width: 150px;
  border-right: 1px black solid;
  border-bottom:  1px black solid;
  box-sizing: border-box;
}

/* responsive design */
@media screen and (max-width: 599px) {
  .nav-link-list li {
    width: 50%;
  }
  header:hover .header-text {
    display: none;
  }
  h1 {
    font-size: calc(30px - 20%);
  }

  h2 {
    font-size: calc(25px - 20%);
  }
}

.nav-link-list li a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #54426B; /* cyber grape */
}

/* Change the link color to #111 (black) on hover */
.nav-link-list li a:hover {
  background-color: #C9ADA1; /* silver pink */
}

#current {
  background-color: #DB5461; /* DARK TERRA COTTA */
}

/* footer style */
footer {
  margin: 0;
  min-height: 60px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #443E3E; /* dark grey */
}

#footer-text-wrapper {
  position: relative;
  float: left;
  display: inline-block;
  margin: 20px 5% 0 5%;
}

#footer-text-wrapper p {
  font-size: 12px;
  color: #EAE0CC; /* pearl */
  margin: 0;
}

#footer-icons {
  display: inline-block;
  float: right;
  margin: 10px 20px 0 0;
}

.bg-facebook {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url('../assets/social-sprite.png') -10px -10px;
}

.bg-twitter {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url('../assets/social-sprite.png') -66px -10px;
}

.bg-instagram {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url('../assets/social-sprite.png') -122px -10px;
}
/* add hover opacity effect as indicator */
.bg-facebook:hover, .bg-twitter:hover, .bg-instagram:hover {
  opacity: 0.5;
}
