/* specify font family and color for all text element */
h1, h2, h3 {
  font-weight: bolder;
  font-family: Verdana, Geneva, sans-serif;
  color: #9A031E; /* amber */
}

p, li{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #9A031E; /* amber */
}

a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color: #4D6DE2; /* royal blue */
}

a:hover {
  text-decoration: underline;
}

/* body and container */
body {
  background-color: #E5BE9E; /* pale green */
  margin: 0;
}

.body_wrapper {
  margin: 3% 6%;
}

.content_wrapper {
  min-width: 60%;
  margin-left: 165px;
}

/* title and paragraph style and font size */
h1 {
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
}

h2 {
  font-size: 25px;
  padding-bottom: 8px;
  font-style: italic;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
}

p, li {
  font-size: 17px;
  line-height: 200%;
}

ul {
  margin: 0;
}

/* nav style */
nav a {
  font-size: 15px;
  float: left;
  font-weight: bold;
  border: 1px solid grey;
  background-color: #FFC857; /* yellow */
  padding: 6px 12px;
  display: block;
}

nav a:hover{
  color: #56C999; /* roman silver */
  background-color: #361D2E; /* dark purple */
  text-decoration: none;
}

/* header style */
.header {
  height: 50px;
}

.header a {
  border-radius: 5px; /* gives round edge to element */
  margin: 0 20px 10px 0px;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19); /* create shadow around element */
}

/* side nav style */
.side_nav_wrapper {
  float: left;
  max-width: 150px;
  position: fixed;
  top: 30%;
  overflow-x: hidden;
}

.side_nav_wrapper a {
  width: 70%;
  min-width: 20px;
}

/* css valid img style */
.css_valid_img {
  border: 0;
  width: 88px;
  height: 31px;
  position: absolute;
  top: 20px;
  right: 20px;
}
