/* import normalize css and common css used across multiple pages */
@import url("../../../css/normalize.css");
@import url("../../../css/common.css");

/* img style */
.img-cropper {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 10px 20px 20px 0;
}

.img-cropper img {
  height: 100%;
  position: relative;
  display: block;
}
